*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-size5: 1.125rem;
    --font-size2: 3.5rem;
    --font-size6: 1rem;
    --font-size4: 1.5rem;
    --font-size1: 4.5rem;
    --font-size3: 2rem;

    --clr-bcgr-grad1: linear-gradient(hsla(256,72%,46%,1) 0%, hsla(241,72%,46%,0) 100%);
    --clr-bcgr-grad2: linear-gradient( hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    --clr-bcgr: hsl(0, 100%, 100%);
    --clr-red50: hsl(0, 100%, 98%);
    --clr-yellow50: hsl(38, 100%, 98%);
    --clr-green50: hsl(162, 63%, 97%);
    --clr-blue50: hsl(234, 71%, 97%);
    --clr-button: hsl(224, 30%, 27%);
    --clr-white: hsl(0, 100%, 100%);
    --clr-navy20: hsl(241, 100%, 89%);
    --clr-navy950: hsl(224, 30%, 27%);
    --clr-red400: hsl(0, 100%, 67%);
    --clr-yellow400: hsl(39, 100%, 56%);
    --clr-green500: hsl(166, 100%, 37%);
    --clr-blue800: hsl(234, 85%, 45%);

    --padding-summary: 1.1rem 1rem;

    --border-summary: 0.75rem;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    font-family: "Hanken Grotesk", sans-serif;
    /*padding-inline: 1.5rem;*/
}

.results-component{
    max-width: 23.5rem;
    width: 100%;
    background-color: var(--clr-bcgr);
}

.result-summary{
    background: var(--clr-bcgr-grad2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 3.5rem;
    border-radius:0 0 2rem 2rem;
    box-shadow: 0 20px 40px hsla(241, 81%, 54%, 0.25);
}

.result-summary h1{
    margin-bottom: 1.5rem;
    font-size: var(--font-size5);
    font-weight: 700;
    line-height: 1.3;
    color: var(--clr-navy20);
}

.result-score{
    width: 8.75rem;
    height: 8.75rem;
    border-radius: 50%;
    background: var(--clr-bcgr-grad1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;  
}

.score{
    color: var(--clr-white);
    font-size: var(--font-size2);
    font-weight: 800;
    line-height: 1;
}

.score-max{
    font-size: var(--font-size6);
    font-weight: 700;
    line-height: 1.3;
    color: var(--clr-navy20);
}

.result-score__value{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-grade{
    margin-bottom: 0.5rem;
    color: var(--clr-white);
    font-size: var(--font-size4);
    font-weight: 700;
    line-height: 1.3;
}

.result-description{
    font-size: var(--font-size6);
    font-weight: 500;
    line-height: 1.3;
    color: var(--clr-navy20);
}

.result-description span {
    display: inline;
}

.summary{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 1.8rem 1.8rem 1.8rem;
    
}

.summary-title{
    color: var(--clr-navy950);
    font-size: var(--font-size5);
    line-height: 1.3;
    font-weight: 800;
}

.summary-list{
    list-style: none;
    margin: 1.5rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.summary-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-summary);
    padding: var(--padding-summary);
    
}

.summary-label{
    display: flex;
    align-items: center;
}

.summary-reaction, 
.summary-memory, 
.summary-verbal, 
.summary-visual, 
.summary-score, 
.total{
    font-size: var(--font-size6);
    font-weight: 500;
    line-height: 1.3;
}

.summary-reaction{
    color: var(--clr-red400);
}

.summary-memory{
    color: var(--clr-yellow400);
}

.summary-verbal{
    color: var(--clr-green500);
}

.summary-visual{
    color: var(--clr-blue800);
}

.summary-score{
    color: var(--clr-navy950);
    display: flex;
    gap: .25rem;
}

.total{
    color: var(--clr-navy950);
    opacity: 50%;
}

.summary-icon{
    margin-right: 1rem;
}

.summary-item--reaction{
    background-color: var(--clr-red50);
}

.summary-item--memory{
    background-color: var(--clr-yellow50);
}

.summary-item--verbal{
    background-color: var(--clr-green50);
}

.summary-item--visual{
    background-color: var(--clr-blue50);
}

.btn-continue{
    border: none;
    cursor: pointer;
    background-color: var(--clr-button);
    border-radius: 8rem;
    padding: 1rem 7.5rem;
    color: var(--clr-white);
    font-size: var(--font-size5);
    font-weight: 700;
    line-height: 1.3;
}

.btn-continue:hover{
    background: var(--clr-bcgr-grad2);
}

@media (min-width: 48rem){
    body{
        height: 100vh;
        justify-content: center;
        padding: 0 1rem;
        background-color: var(--clr-blue50);
    }

    .results-component{
        display: flex;
        max-width: 43rem;
        border-radius: 2rem;
        overflow: hidden;
    }

    .result-summary{
        flex: 0 0 21.125rem;
        border-radius: 2rem;
        padding: 2.8rem 4.3rem;
    }
    .result-summary h1{
        margin-bottom: 2rem;
        font-size: var(--font-size4);
    }
    .result-score{
        width: 12.5rem;
        height: 12.5rem;
        margin-bottom: 2rem;
    }
    .score{
        font-size: var(--font-size1);
    }
    .score-max{
        font-size: var(--font-size5);
        opacity: 51.68%;
    }
    .result-grade{
        margin-bottom: 1rem;
        color: var(--clr-white);
        font-size: var(--font-size3);
    }
    .summary{
        flex: 0 0 21.75rem;
        margin: 0;
        padding: 3rem 2.5rem;
        width: 16.75rem;
    }
    .summary-title{
        opacity: 100%;
        font-size: var(--font-size4);
    }
    .summary-list{
        margin: 2rem 0;
    }
    .summary-reaction, 
    .summary-memory, 
    .summary-verbal, 
    .summary-visual, 
    .summary-score, 
    .total{
        font-size: var(--font-size5);
    }
    .btn-continue{
        width: 100%;
        padding: 1rem 0;
    }
    .result-description{
        font-size: var(--font-size5);
        opacity: 100%;
    }
    .result-description span {
        display: block;
    }
}

@media (min-width: 90rem){
    .results-component{
        max-width: 46rem;
    }
    .result-summary{
        flex: 0 0 23rem;
        padding: 2.8rem 3.375rem;
    }
    .result-description span {
        display: inline;
    }
    .summary{
        flex: 0 0 23rem;
        padding: 2.78rem 2.5rem;
        width: 18rem;
    }
}
